.stamp__item {
    margin: 0 10%;
}

.button__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attendance__button {
    width: 48%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
    padding: 80px 0;
}

/* aタグ非活性制御 個別設定 */
.disabled__item {
    color: #ddd;
}

@media screen and (max-width: 640px) {
    .attendance__button {
        display: block;
        width: 100%;
        padding: 10% 0;
        margin-bottom: 15px;
    }

    .thanks__item {
        display: none;
    }
}
