table {
    width: 90%;
    margin: 0 auto 20px;
    border-collapse: separate;
}

.table__header {
    text-align: left;
    padding: 20px;
    border-top: 1px solid #000;
}
.table__desc {
    padding: 20px;
    border-top: 1px solid #000;
}

.name__item {
    padding-bottom: 0;
}

.date__change__item {
    display: flex;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}

.date__link__item {
    margin: auto 0.5rem;
    padding: 0 0.25rem;
    border: 1px solid #00f;
    color: #00f;
    background-color: #fff;
    line-height: 1.25rem;
}

@media screen and (max-width: 640px) {
    table {
        margin: 0 auto 5%;
    }

    .table__header,
    .table__desc {
        padding: 20px 0;
        font-size: 12px;
    }
}
