.nav__pc {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav__sp {
        display: none;
    }

    .content__item {
        width: 80%;
    }
}
